# Compiled Object files
*.slo
*.lo
*.o

#Makefile dependencies
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store
.depend
CON
model_test
SDL_test
Thumbs.db
SDL_test.pro.user
